body {
	background: #000;
	font-family: arial;
	width: 100%;
	margin: 0px 0px;
}

#page {
	margin-top: 0px;
	background: #FFF;
}

#header h1 {
	float: left;
	margin: 10px;
	margin-left: 0px;
}

#main {
	padding: 10px 0px;
}

.container {
	width: 900px;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	margin-top: 0px;
	background: #000;
	color: white;
	font-size: small;
	clear: both;
}

#footer .container {
	padding: 10px 0px;
}

a {
	text-decoration: none;
}

ul {
	float: right;
	margin: 25px 0px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
	margin: 10px 0px;
	display: inline-block;*display:inline;zoom:1;
}

#logo {
	width: 232px;
	height: 91px;
}

.nav-links li {
	display: inline;
	width: 100%;
	margin: 0px 0px 0px 10px;
	font-family: 'Satisfy', cursive;
	text-align: center;
}

.nav-links li a {
	padding: 0px;
	font-size: 0px;
}

.nav-links li img {
	width: 120px;
	height: 60px;
	line-height: 0px;
}

.btn {
	cursor: pointer;
	font-size: 36px;
	font-family: 'Satisfy', cursive;
	font-weight: normal;
	text-decoration: none;
	color: #FFF !important;
	padding: 10px 22px;
	background-color: #000;
	display: inline-block;*display:inline;zoom:1;
	transition: background 0.25s linear;
	text-align: center;
}

.btn:hover, .btn.active {
	background-color: #63B9EE;
}

.btn:active {
	position: relative;
	top: 0px;
}

.flex-direction-nav {
	display: none !important;
}

/* About Page */
.about-links {
	margin: 0px 0px;
	margin-top: 0px;
}

.about-links li {
	display: inline;
	width: 100%;
}

#cv-black {
	position: absolute;
	right: 420px;
	top: 130px;
}

#call-black {
	position: absolute;
	right: 207px;
  top: 135px;
}

#coffee {
	position: absolute;
	right: 240px;
	top: 325px;
}

#drop-black {
	position: absolute;
	right: 207px;
	top: 470px;  
}

#polaroid {
	position: absolute;
	right: 580px;
	top: 470px;
}

.about-copy {
	font-size: 1.2em;
	text-align: left;
	max-width: 300px;
	position: absolute;
	top: 150px;
}

.photo {
	max-width: 100%;
	overflow: hidden;
}

.photo img {
	width: 100%;
	display: block;
}
.photo-set .caption {
	text-align: left;
	padding: 20px;
	margin: 0px;
}
.photo .caption {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: left;
	position: relative;
	top: 0px;
	height: 10px;
	padding: 20px;
	line-height: 10px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	opacity: 0;
	transition: opacity 0.25s linear, top 0.25s linear;
}
.photo:hover .caption {
	opacity: 1;
	top: -50px;
}

.photo-set {
	text-align: right;
	margin-bottom: 20px;
}

.photo-set .thumbs {
	padding: 0px 0px;
	text-align: left;
	font-size: 0px;
}

.photo-set .thumbs > img {
	height: 100px;
	width: 100px;
	cursor: pointer;
	margin: 5px 0px 0px 5px;
}

.photo-set .thumbs.large > img {
	height: 90px;
	width: 150px;
}

.photo-fader {
	font-size: 0px;
}

.photo-fader > * {
	position: relative;
	display: inline-block;*display:inline;zoom:1;
}

hr {
	border: none;
	border-top: 1px solid #CCC;
	margin: 0px;
}

hr.big {
	margin: 40px 0px;
}

.photo-set h3 {
	background: black;
	font-family: 'Bevan';
	padding: 10px 25px;
	color: white;
	margin: 0px;
	display: inline-block;*display:inline;zoom:1;
}

.photo-set .photo {
	z-index: 1;
	position: relative;
}

.photo-set .photo .arrow-left, .photo-set .photo .arrow-right {
	width: 58px;
	height: 58px;
	background-image: url("../images/arrow.png");
	background-size: 116px 116px;
	background-position: 0px 0px;
	cursor: pointer;
	float: left;
	margin: 200px 0px -258px 10px;
	position: relative;
	z-index: 2;
	opacity: 0;
	transition: opacity 0.2s linear;
}

.photo-set .photo .arrow-right {
	background-position-x: -58px;
	float: right;
	margin-left: 0px;
	margin-right: 10px;
}

.photo-set .photo:hover .arrow-left, .photo-set .photo:hover .arrow-right {
	opacity: 1;
}

.photo-set .photo .arrow-left:hover, .photo-set .photo .arrow-right:hover {
	background-position-y: -58px;
}

.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }

.video {
	width: 100%;
	height: 500px;
	background: black;
}

/* ABOUT PAGE */
.about-block {
	float: left;
	text-align: center;
}

a.about-block {
	cursor: pointer;
}

.about-block.folder {
	background: url("/images/about-cv.png") center;
	background-size: 293px 360px;
	background-repeat: no-repeat;
	width: 320px;
	height: 360px;
}

.about-block.phone {
	background: url("/images/about-phone.png") center;
	background-size: 121px 220px;
	background-repeat: no-repeat;
	width: 220px;
	height: 220px;
}

.about-block.mug {
	background: url("/images/about-coffee.png") center;
	background-size: 166px 132px;
	background-repeat: no-repeat;
	width: 220px;
	height: 140px;
}

.about-block.joe {
	background: url("/images/about-photo.png") center;
	background-size: 133px 167px;
	background-repeat: no-repeat;
	width: 133px;
	height: 167px;
	margin-top: 10px;
	margin-left: 15px;
}

.about-block.keyboard {
	background: url("/images/about-email.png") center;
	background-size: 380px 167px;
	background-repeat: no-repeat;
	width: 380px;
	height: 167px;
	margin-top: 10px;
	margin-left: 15px;
}

.about-block.folder span {
	margin: 150px 0px 0px -25px;
}
.about-block.phone span {
	margin-top: 60px;
}
.about-block.keyboard span {
	margin-top: 60px;
}

#about-images {
	max-width: 100%;
	width: 560px;
	min-width: 320px;
}

.about-block .btn {
	font-size: 36px;
	background: rgba(0, 0, 0, 0.7);
	font-family: 'Bevan';
	padding: 13px 10px 10px;
}

.about-block:hover .btn {
	background-color: #63B9EE;
}

#about-text {
	float: left;
	width: 340px;
	margin-bottom: 10px;
}

a {
	color: #63B9EE;
}

a.big {
	font-size: 20px;
	font-weight: bold;
}

a:hover {
	color: #55A8EE;
}

p {
	margin-bottom: 10px;
}

form.simple label {
	display: block;
}

form.simple label span {
	display: inline-block;*display:inline;zoom:1;
	width: 90px;
	text-align: right;
	vertical-align: -10px;
}

form.simple input, form.simple textarea {
	border: none;
	outline: none;
	background: #F6F6F6;
	padding: 7px !important;
	background-image: none !important;
	font-size: 14px;
	border: 1px solid transparent;
	transition: border 0.2s linear, background 0.2s linear, box-shadow 0.2s linear;
	display: inline-block;*display:inline;zoom:1;
	width: 60%;
	vertical-align: top;
}

form.simple textarea {
	height: 50px;
	resize: vertical;
}

form.simple input:focus, form.simple textarea:focus {
	border: 1px solid #55A8EE;
	background: white;
	box-shadow: 0px 0px 2px #55A8EE;
}

@media screen and (max-width: 920px) {
	#about-text {
		width: 100%;
	}

	#about-images {
		margin-left: auto;
		margin-right: auto;
		float: none !important;
	}
}


@media screen and (max-width: 700px) {
	#header h1 {
		display: block;
		float: none;
		margin: 0px;
		padding-top: 5px;
	}
	.nav-links {
		display: block;
		float: none;
		text-align: left;
	}
	.nav-links li {
		margin-left: 0px;
	}

	.video {
		height: 300px;
	}

	.photo-set .thumbs {
		text-align: center;
	}

	.photo-set .thumbs > img {
		height: 80px;
		width: 80px;
		
	}

	.photo {
		max-height: none;
		height: auto !important;
	}

	.photo .caption, .photo:hover .caption {
		background: none;
		line-height: 24px;
		color: black;
		text-shadow: none;
		opacity: 1 !important;
		height: auto;
		padding: 5px 5px 0px;
		text-align: center;
		top: 0px !important;
	}

}
